.contact-body {
  margin: auto;
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  padding-top: 1em;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 500px;
  background: white;
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 30px;
}
.contact-grid h1 {
  font-family: Anton;
  font-weight: bolder;
}
.contact-grid p {
  font-family: Ubuntu;
  font-weight: bold;
}
.contact-grid hr {
  font-family: Ubuntu;
  border-top: 2px dotted black;
  width: 50%;
  margin: auto;
}
