.App {
  text-align: center;
}
.hellobox1 {
  margin-top: -420px;
  box-sizing: initial;
  background-color: rgb(219, 209, 209);
  padding-bottom: 20%;
  text-align: center;

  margin-left: 50%;
}
.hellobox2 {
  text-align: center;
  color: white;
  background-color: black;
  position: relative;
  padding-block-start: 20px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.hellobox3 {
  margin-top: 49.5px;
  box-sizing: initial;
  background-color: rgb(229, 78, 78);
  padding-bottom: 20%;
  padding-top: 20px;
  text-align: center;
  margin-right: 50%;
}
.contentbox1 {
  text-align: center;
  margin-top: 50px;
  padding-top: 100px;
}
